.l_font_18{
	font-size:18px;
}
.l_font_12{
	font-size:12px;
}
.l_font_14{
	font-size:14px;
}
.l_font_10{
	font-size:10px;
}
.l_bold{
	font-weight:bold;
}
.l_underline{
	text-decoration:underline;
}
.l_font_blue{
	color:#1044d7;
}