@charset "utf-8";
/* CSS Document */
/* The file is for global */
body{
	font-family:"Segoe UI";
	font-size: 13.01pt;
	color: #000;
}
.clear{
	clear:both;	
}
#contain-wrapper{
	width:100%;
	height: auto;
	margin:0 auto;
}
header{
	width:100%;
	height:60px;
	/*background:url(../../images/commons/header-bg.png) repeat;*/	
}
#logo{
	width:240px;	
	float:left;
	text-align: right;
}
#nav-top{
	width:893px;
	float:left;
	text-align:center;
}
#nav-top ul a{
	text-decoration: none;
	font-weight:lighter;
	color: #7E7E7E;
	text-shadow:1px 1px 1px #ccc;
}
.label-search{
	font-weight:bold;
	/*color: #ABABAB;*/
	color: #8E8E98;
	text-shadow:0.8px 0.8px 0.8px #ccc;
}
#nav-top ul a:hover{
	color: #0084ff;	
}
#nav-top ul li{
	text-transform: uppercase;
	margin: 0 30px 0 14px;
	font-size: 10.5pt;
}
ul li{
	display: inline;	
}
#header-button{
	width:147px;
	float:left;
	padding-top:16px;
	position:relative;
}
footer{
	width:100%;
	float:left;	
}
#nav-bottom{
	width: 412px;
	float:left;
	text-align:right;
}
#nav-bottom ul{
	list-style-type:circle;
	margin-bottom:0;
}
#nav-bottom ul:nth-child(2){
	margin-top:0;	
}
#nav-bottom ul li{
	background:url(../../images/commons/dot-black.png) no-repeat center left;
	padding: 0 14px;
	background-position:;
	color:#7F7F7F;
	font-size: 9pt;
    letter-spacing: 0.06em;	
}
#device-support ul{
	margin:0;
	margin-top:4px;
}
#device-name{
	float:left;	
	width:100%;
	border-bottom:1px solid #ccc;
	position: relative;
}
#device-name img{
	position: absolute;
	right:0;
	bottom:0;
}
#device-name ul{
	display:inline;	
}
#device-name ul li{
	font-weight:normal;
	font-size:11pt;
}
#device-name ul li:nth-child(1){
	margin-left:413px;
}
#device-name ul li:nth-child(2){
	margin-left:101px;
}
#device-name ul li:nth-child(3){
	margin-left:90px;
}
#device-name ul li:nth-child(4){
	margin-left:51px;
}
#social-share{
	float:left;
}
#copy-right{
	width: 868px;
	float:right;
	text-align:right;
	margin-top:6px;
}
.string-copy-right{
	font-size:9pt;
	color:#a0a0a0;
}

.chat-box {
	position:fixed; 
	z-index:999; 
	width:305px;  
	bottom:0; 
	right:5px;
	background: #0579C2;	
	border: 3px outset rgba(0,0,255,0.6);
}
.chat-box input {
	width: 234px;	
}
#basic-btn {
	width: 305px;
}
.chat-box h5 {
	text-align:center;
	cursor: pointer;
	margin: 0;
	padding: 17px;
	color: #fff;
}
	
.chat-box ul {
	height: 300px; 
	overflow: scroll;
	background:#E5E5E5;	
	margin:0;
	padding:0;
}
.chat-box ul li {
	margin: 5px 19px;
	padding: 5px;
	display: block;
	font-size: 14px;
	position: relative;
}
#basic-info {
	width:305px; 
	height: 354px;
	position:absolute; 
	background:#fff;
	top: 56px;
}
#basic-info input[type="text"]{
	margin: 7px; 
	padding: 5px; 
	width: 270px; 
	border: 1px solid #ccc;
}
#basic-info button {
	width: 100%;	
}
#basic-saving {
	text-align:center; 
	font-weight:normal;
}
.chatText {
	margin: 0;
	padding: 0;
}
