@charset "utf-8";
/* CSS Document */
body {
	padding: 0;
	margin: 0;
	background:url(../images/body-bg.png) repeat;
}
a{text-decoration: none;}
ul, li{list-style: none;display: inline;padding: 0;margin: 0;}
td,th{
	color: #8e8e8e;
	/*text-align: center;*/
	font-size: 10pt;
	height: 42px;
	vertical-align: center;		
}
tr,td:hover{
	cursor:pointer;
}
#content-header {
	height: 62px;
	width: 100%;
	background-color: #f6f7f9;
	box-shadow: 0 3px 5px #888888;
}
.active_manu{
	color:#03F;
}
.header {
	width: 1280px;
	margin: 0 auto;
}
#admin-logo {
	width: 144px;	
}
#menu-lists {
	width: 687px;
	padding-top: 20px;	
}
#sca {
	width: 370px;
	padding-top: 20px;
}
.search {
	width: 184px;
	height: 30px;
	background: white;
	border-radius: 3px;
	float: left;
	margin-right: 12px;
}
/*.search input {
	border: 1px solid #ccc;	
	border-radius: 3px;
	padding-left: 3px;
}*/
.textbox-search{
	width: 147px;
	padding-left: 9px;
	border: none;
	color: #b0b7b9;
	vertical-align: center;
	font-size: 11pt;
	font-family: "Myriad Pro";
}
.button-search{
	content: " ";
	width: 12px;
	height: 14px;
	border: none;
	cursor: pointer;
	background: url('../images/commons/search.png') no-repeat;
}
.text-center {
	text-align: center;	
}
.account {
	/*width: 107px;	*/
}
.account h5 {
	font-family:"Segoe UI";
	font-size: 11px;
	color: #1b1919;
	margin: 5px;
	padding: 0;
}
.config {
	width: 56px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}	
#menu-lists ul li {
	display: inline;
	margin-right: 100px;
	font-size: 14px;
	position: relative;
	font-family: "Segoe UI";
}
#menu-lists ul li a{
	color:#333;
}
#menu-lists ul li a:hover{
	color:#03F;
	text-shadow: 1px 1px 1px #ccc;	
}
.ico-text {
	position: absolute;
	top:-7px;
	left:33px;
}
.ico {
	background-repeat: no-repeat;
	background-position: left center;
	width: 22px;
	height: 24px;
	display:inline-block;
	
}

.chat {
	background-image:url(../images/chat.png);
}
.history {
	background-image:url(../images/history.png);
	
}
.users {
	background-image:url(../images/users.png);
	
}
.report {
	background-image:url(../images/report.png);
}
.company {
	background-image:url(../images/company.png);
	height: 19px;
}
.fl {
	float: left !important;	
}
.fr {
	float: right !important;	
}

#main-body {
	width: 853px;
	height: auto;
	margin: 38px auto;
}
#content-body {
	width: 100%;
	height: auto;
}
.cls {
	clear:both;	
}
.v-name {
	display: block;
	font-family:"Myriad Pro";
	font-size: 12px;
	color: #393939;
	
}
.v-geo {
	font-family:"Myriad Pro";
	font-size: 11px;
	color: #7e8b90;	
	
}
/*override*/
.resp-tabs-list li {
	position: relative;	
	height: 20px;
}
.resp-tabs-list li img {
	position: absolute;
	top: 9px; 
	left: 8px;
}
.box-wrapper {
	height: 450px;
	overflow:scroll;
}
.chat-menu li {
	display: inline;
	margin-right: 10px;
}
.chat-menu {
	margin-top: 6px;
}
.log-action-menu{
	list-style:none;
	margin: 0;
	padding: 0;
}
.log-action-menu li{
	text-align:right;display: block;
	padding-right: 10px;
	padding-bottom: 10px;
}
.log-action-menu li span a{
	font-family:"Segoe UI";
	font-size: 12px;
	color: #858282;
}

/* history */
#content{
	width: 875px;
	height: auto;
	margin:0 auto;
	padding-top: 51px;
}
#wrap-filter,#filter-content{
	width: 100%;
	height: auto;
	float: left;
}
#wrap-filter{
	padding-bottom: 29px;
}
#filter-text{
	float: left;
}
.filter-content{
	background: #eeeeee;
}
.filter-wrap-content{
	width: 100%;
	height: 59px;
	float: left;
	font-family: "Myriad Pro";
}
.filter-image{
	content: "";
	width: 66px;
	height: 59px;
	float: left;
	background: url('../images/history/chat.png') no-repeat center center; 
}
.filter-title{
	/*padding-left: 40px;*/
	padding-right: 10px;
	padding-top: 20px;
	color: #8b8e91;
	float: left;	
	font-size: 16pt;
}
.filter-title_v{
	/*padding-left: 40px;*/
	padding-right: 10px;
	padding-top: 20px;
	color: #8b8e91;
	float: left;	
	font-size:12pt;
}
.filter-time{
	width: 200px;
	height: auto;
	float: right;
	padding-top: 20px;
	color: #393a3b;
	font-size: 13pt;
}
.wrap-chat-details,.chat-details{
	height: auto;
	width: 100%;
	float: left;
	font-family: "Myriad Pro";
}
.wrap-chat-details{
	display: none;
}
.chat-details{
	background: #fff;
	border: 1px solid #e2e2e2;
}
.chat-time{
	width: 80px;
	height: auto;
	float: left;
	color: #393a3b;
	font-size: 10pt;
	padding-top: 16px ;
	text-align: center;
	font-family: "Myriad Pro";
}
.chat-des{
	width: 70%;
	height: auto;
	float: left;
	padding-top: 10px;
	padding-bottom: 11px;
}
.chat-users,.chat-text{
	width: 100%;
	height: auto;
	float: left;
	color: #6b6969;
	font-size: 13pt;
	font-weight: bold;
}
.chat-text{
	padding-top: 11px;
	color: #6b6969;
	font-weight: normal;
	font-size: 11pt;
}
#wrap-filter-menu,#wrap-filter-menu ul{
	float: left;
	padding: 0;
	margin: 0;
}
#filter-menu {	
	/*width: 960px;*/
	/*margin: 60px auto;*/
	/*border: 1px solid #222;*/
	/*background-color: #111;
	background-image: linear-gradient(#444, #111);*/
	/*border-radius: 6px;*/
	/*box-shadow: 0 1px 1px #777;*/
	float: left;
	zoom:1;
}
#filter-menu:before,
#filter-menu:after {
	content: "";
	display: table;
}

#filter-menu:after {
	clear: both;
}
#filter-menu li {
	float: left;
	padding: 4px 15px;
	/*border-right: 1px solid #222;*/
	/*box-shadow: 1px 0 0 #444;*/
	position: relative;
}
#filter-menu a {
	float: left;
	/*padding: 12px 30px;*/
	color: #999;
	text-transform: uppercase;
	font: 14px "Myriad Pro";	
	text-decoration: none;
	/*text-shadow: 0 1px 0 #000;*/
}
#filter-menu li:hover > a {
	color: #000;
}
*html #filter-menu li a:hover { /* IE6 only */
	color: #fafafa;
}
/* subfilter-menu */
#filter-menu ul {
	/*margin: 20px 0 0 0;*/
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;	
	top: 30px;
	left: -15px;
	z-index: 1;    
	background: #444;	
	background: linear-gradient(#444, #111);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
	/*border-radius: 3px;*/
	transition: all .2s ease-in-out;  	
}
#filter-menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;	
}
#filter-menu ul ul {
	top: 0;
	left: 50px;
	/*margin: 0 0 0 20px;*/
	_margin: 0; /*IE6 only*/
	box-shadow: -1px 0 0 rgba(255,255,255,.3);		
	padding: 0;
	margin: 0;
}
#filter-menu ul li:first-child{
	padding-top: 3px;
}
#filter-menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	/*box-shadow: 0 1px 0 #111, 0 2px 0 #666;*/
	margin: 0;
	padding: 0 3px;
	border-bottom: 1px solid gray;
}
#filter-menu ul li:last-child {   
	box-shadow: none;   
	border: none;
	margin-bottom: 3px;
}
#filter-menu ul a {    
	padding: 10px 20px;
	/*width: 130px;*/
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}
#filter-menu ul a:hover {
	color: white;
	background-color: #0186ba;
	background-image: linear-gradient(#04acec, #0186ba);
}
#filter-menu ul li:first-child > a {
	border-radius: 3px 3px 0 0;
}
#filter-menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444;
}
#filter-menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;	
	/*border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b;*/
}
#filter-menu ul li:first-child a:hover:after {
	border-bottom-color: #04acec; 
}
#filter-menu ul ul li:first-child a:hover:after {
	border-right-color: #0299d3; 
	border-bottom-color: transparent; 	
}
#filter-menu ul li:last-child > a {
	border-radius: 0 0 3px 3px;
}

/* control operator */
#content-operator{
	width: 1249px;
	padding-left: 31px;
	height: auto;
	margin: 0 auto;
}
#operator-search,#wrap-content-operator{
	width: 100%;
	height: auto;
	float: left;
}
#operator-search-form{
	width: 163px;/*163px*/
	height: 27px;
	float: left;
	margin-top: 34px;
	margin-bottom: 18px;
	background: #f6f7f9;
	border: #d1d1d1 solid 1px;
}
#operator-search-form .textbox-search{
	width: 130px;	
	height: 25px;
	float: left;
	padding-left: 11px;
	background: #f6f7f9;
}
#operator-search-form .button-search{
	width: 22px;
	height: 25px;
	background: url('../images/commons/search.png') center center no-repeat;
}
#operator-list{
	width: 753px;
	height: auto;
	float: left;
}
#operator-list tr:hover{
	background: #f9f8f8;
}
#operator-list tr:nth-child(odd){
	background: white;
}
#operator-list tr:nth-child(even){
	background: #f8f8f8;	
}
#operator-details{
	width: 423px;
	height: auto;
	float: left;
	padding-left: 41px;
}
.operator-profile,.operator-maps{
	width: 100%;
	height: auto;
	float: left;
}
.operator-image{
	width: 77px;
	height: 77px;
	float: left;
	overflow: hidden;
}
.operator-content{
	width: 321px;
	padding-left: 20px;
	float: left;
	padding-bottom: 31px;
}
.operator-name{
	color: #585859;
	font-size: 18pt;
	font-family: "Tw Cen MT";
	padding-bottom: 23px;
	<!--//float: left;-->
}
.operator-email,.operator-phone,.operator-address{
	color: #34373b;
	font-size: 10pt;
	font-family: "Segoe UI";
	
}
.operator-phone{
	padding-top: 7px;
}
.operator-address{
	padding-top: 19px;
	font-weight: bold;
}
.font-normal{
	font-weight: normal;
	padding-top: 9px;
	float:left;
}
.operator-feature{

}
.feature-title{
	width: 100%;
	float: left;
	padding: 22px 0 11px 0;	
	font: 10pt "Segoe UI" bold;
	border-bottom: #d8d8d8 solid 1px;
	text-transform: uppercase;
	color: #34373b;
}
#feature-list{
}
.feature-text{
	width: 141px;
	float: left;
	color: #129165;
	font: 10pt "Segoe UI";
	padding: 11px 0;
}
.tutorial{
	margin-left:200px;
	font-size:18px;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding-top:20px;
}
.text_info{
	padding-top:20px;
	font-family:"Courier New", Courier, monospace;
}
.btn_upgrade{
	width:230px;
	height:40px;
	font-size:16px;
	color:#FFF;
	background:#CCC;
}
.btn_upgrade:hover{
	width:230px;
	height:40px;
	font-size:16px;
	color:#FFF;
	background:#6CC;
	cursor:pointer;
}